body {
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  background-color: #e352fe;
}
.navbar-brand {
  font-family: "Great Vibes", cursive;
  font-size: 38px;
  font-weight: 700;
  font-style: normal;
}
.nav-link {
  font-size: 14px;
  margin-left: 20px;
}
.hero {
  background: url(assets/carnival-of-the-ages.jpg);
  background-size: cover;
  text-align: center;
  padding: 180px 30px;
}
.head-subtitle {
  background: rgba(255, 249, 249, 0.45);
}
.heading {
  margin: 20px 0 10px;
  font-weight: 700;
  font-size: 38px;
}
.subtitle {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
}
#about {
  padding: 80px 30px;
  background: aliceblue;
}
#about .row {
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}
.shiny-img {
  width: 450px;
  max-width: 100%;
}
.about-note {
  margin-left: 60px;
  max-width: 46%;
}
.paragraphs {
  font-size: 14px;
  margin-bottom: 24px;
}
.btn-booking,
.btn-booking:hover {
  background: black;
  color: aliceblue;
  padding: 15px 25px;
}
.services {
  padding: 80px 30px;
  text-align: center;
  background-color: #cedef4;
}
.services .paragraphs {
  margin: 0 auto;
  max-width: 530px;
}
.services h2 {
  margin: 20px 0 16px;
  font-weight: 700;
  font-size: 32px;
}
.service-img {
  width: 300px;
}
.footer {
  padding: 50px 30px 15px;
}
.footer .row {
  max-width: 900px;
  margin: 0 auto;
}
.footer ul {
  list-style: none;
  line-height: 30px;
}
.footer h4 {
  font-weight: 700;
  font-size: 14px;
}
.footer ul a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
